Repository cmu-delphi/covidcast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krivard, @capnrefsmmat, @nmdefries, @brookslogan, @dshemetov, @huisaddison, @dajmcdon, @chinandrew

.github/CODEOWNERS:

# default owners for anything not listed below, such as README and CI workflows
* @krivard @capnrefsmmat

# covidcast R package and data generation
/R-packages/covidcast/ @capnrefsmmat
/R-packages/data-raw/ @capnrefsmmat

# evalcast R package
/R-packages/evalcast/ @nmdefries @brookslogan @dshemetov

# modeltools R package
/R-packages/modeltools/ @huisaddison @dajmcdon

# covidcast Python package
/Python-packages/covidcast-py/ @chinandrew @capnrefsmmat

# notebooks
/R-notebooks/  @krivard

# documentation changes go live instantly on GitHub.io, and hence require their
# own review
/docs/  @capnrefsmmat

Suggested changes from code review
  Python-packages/covidcast-py/covidcast/__init__.py
  Python-packages/covidcast-py/docs/getting_started.rst
  Python-packages/covidcast-py/docs/index.rst
  Python-packages/covidcast-py/docs/signals.rst
Owners: @chinandrew, @capnrefsmmat

Add API keys header to R client covidcast docs
  R-packages/covidcast/vignettes/covidcast.Rmd
Owners: @capnrefsmmat

Sentence case ftw
  Python-packages/covidcast-py/docs/signals.rst
Owners: @chinandrew, @capnrefsmmat

Metadata for covidcast-py release 0.2.0
  Python-packages/covidcast-py/Makefile
  Python-packages/covidcast-py/docs/conf.py
  Python-packages/covidcast-py/setup.py
Owners: @chinandrew, @capnrefsmmat

Fix placeholder date in changelog
  Python-packages/covidcast-py/docs/changelog.rst
  docs/covidcast-py/doctrees/changelog.doctree
  docs/covidcast-py/doctrees/environment.pickle
  docs/covidcast-py/html/_sources/changelog.rst.txt
  docs/covidcast-py/html/changelog.html
  docs/covidcast-py/html/index.html
  docs/covidcast-py/html/searchindex.js
Owners: @chinandrew, @capnrefsmmat

Bump copyright year
  Python-packages/covidcast-py/docs/conf.py
  docs/covidcast-py/html/.buildinfo
  docs/covidcast-py/html/changelog.html
  docs/covidcast-py/html/genindex.html
  docs/covidcast-py/html/getting_started.html
  docs/covidcast-py/html/index.html
  docs/covidcast-py/html/plot_examples.html
  docs/covidcast-py/html/plotting.html
  docs/covidcast-py/html/search.html
  docs/covidcast-py/html/searchindex.js
  docs/covidcast-py/html/signals.html
Owners: @chinandrew, @capnrefsmmat

Make multi-signal example actually output something
  R-packages/covidcast/vignettes/multi-signals.Rmd
Owners: @capnrefsmmat

covidcast R release 0.5.0 metadata
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/NEWS.md
Owners: @capnrefsmmat

Catch API rate limit errors and document them better
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/man/covidcast_signal.Rd
  R-packages/covidcast/vignettes/covidcast.Rmd
Owners: @capnrefsmmat

Improve NEWS
  R-packages/covidcast/NEWS.md
Owners: @capnrefsmmat

Make the rate limit error classed
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Point to new survey page, not redirect
  R-packages/covidcast/vignettes/covidcast.Rmd
Owners: @capnrefsmmat

Add krivard as a package author
  R-packages/covidcast/DESCRIPTION
Owners: @capnrefsmmat

Accept minor plot updates in test
  R-packages/covidcast/tests/testthat/_snaps/plot/simple-county-bubble-plot.svg
Owners: @capnrefsmmat

Link to citation instead of pasting it
  R-packages/covidcast/README.Rmd
  R-packages/covidcast/README.md
Owners: @capnrefsmmat

Correct the NEWS description of API limits
  R-packages/covidcast/NEWS.md
  docs/covidcastR/news/index.html
Owners: @capnrefsmmat

Update covidcast.py
  Python-packages/covidcast-py/covidcast/covidcast.py
Owners: @chinandrew, @capnrefsmmat

Point to authoritative form link, which redirects appropriately
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/man/covidcast_signal.Rd
Owners: @capnrefsmmat

Extract error message from server's 429 response
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Update setup.py
  Python-packages/covidcast-py/setup.py
Owners: @chinandrew, @capnrefsmmat

Update apikey registration link
  Python-packages/covidcast-py/covidcast/covidcast.py
Owners: @chinandrew, @capnrefsmmat

covidcast-py release 0.2.1 metadata
  Python-packages/covidcast-py/docs/changelog.rst
  Python-packages/covidcast-py/docs/conf.py
  Python-packages/covidcast-py/setup.py
Owners: @chinandrew, @capnrefsmmat

covidcast-py release 0.2.1 package documentation
  docs/covidcast-py/doctrees/changelog.doctree
  docs/covidcast-py/doctrees/environment.pickle
  docs/covidcast-py/doctrees/signals.doctree
  docs/covidcast-py/html/.buildinfo
  docs/covidcast-py/html/_sources/changelog.rst.txt
  docs/covidcast-py/html/_static/documentation_options.js
  docs/covidcast-py/html/changelog.html
  docs/covidcast-py/html/genindex.html
  docs/covidcast-py/html/getting_started.html
  docs/covidcast-py/html/index.html
  docs/covidcast-py/html/plot_examples.html
  docs/covidcast-py/html/plotting.html
  docs/covidcast-py/html/search.html
  docs/covidcast-py/html/searchindex.js
  docs/covidcast-py/html/signals.html
Owners: @capnrefsmmat

Update home page warning to point to centralized docs
  Python-packages/covidcast-py/docs/index.rst
Owners: @chinandrew, @capnrefsmmat

Update package documentation
  docs/covidcast-py/doctrees/environment.pickle
  docs/covidcast-py/doctrees/index.doctree
  docs/covidcast-py/html/_sources/index.rst.txt
  docs/covidcast-py/html/index.html
  docs/covidcast-py/html/searchindex.js
Owners: @capnrefsmmat

Deploying to gh-pages from @ 01d8dc4d80f58b32e707eb1798f817dc1f07f30a 🚀
  covidcast-py/doctrees/changelog.doctree
  covidcast-py/doctrees/environment.pickle
  covidcast-py/doctrees/index.doctree
  covidcast-py/doctrees/signals.doctree
  covidcast-py/html/.buildinfo
  covidcast-py/html/_sources/changelog.rst.txt
  covidcast-py/html/_sources/index.rst.txt
  covidcast-py/html/_static/documentation_options.js
  covidcast-py/html/changelog.html
  covidcast-py/html/genindex.html
  covidcast-py/html/getting_started.html
  covidcast-py/html/index.html
  covidcast-py/html/plot_examples.html
  covidcast-py/html/plotting.html
  covidcast-py/html/search.html
  covidcast-py/html/searchindex.js
  covidcast-py/html/signals.html
Owners: @krivard, @capnrefsmmat

Switch easy examples to unlimited signals
  R-packages/covidcast/vignettes/covidcast.Rmd
  R-packages/covidcast/vignettes/external-data.Rmd
  R-packages/covidcast/vignettes/multi-signals.Rmd
  R-packages/covidcast/vignettes/plotting-signals.Rmd
Owners: @capnrefsmmat

Remove combination indicator from plotting-signals
  R-packages/covidcast/vignettes/plotting-signals.Rmd
Owners: @capnrefsmmat

bug(evalcast): remove title from labs in plots
  R-packages/evalcast/R/plot_calibration.R
Owners: @nmdefries, @brookslogan, @dshemetov

bug(evalcast): remove github:: remote spec from DESCRIPTION
  R-packages/evalcast/DESCRIPTION
Owners: @nmdefries, @brookslogan, @dshemetov

docs+package: bump minor version and write changelog
  R-packages/evalcast/DESCRIPTION
  R-packages/evalcast/NEWS.md
Owners: @nmdefries, @brookslogan, @dshemetov

Attempt at adding time_type arg
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

run devtools::document()
  R-packages/covidcast/man/covidcast_signals.Rd
Owners: @capnrefsmmat

Cache covidcast_meta response when possible.
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

ci: make dependabot assign reviewers
  .github/workflows/dependabot-assignments.yml
Owners: @krivard, @capnrefsmmat

make nice for tests
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/testthat/test-covidcast.R
Owners: @capnrefsmmat

Use correct assignment operator
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Fix assignment operator everywhere; factor out meta request caching to its own function
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Reduce stubs for testing meta
  R-packages/covidcast/tests/testthat/test-covidcast.R
Owners: @capnrefsmmat

Failing tests for testing with http caching
  R-packages/covidcast/tests/testthat/test-stub.R
Owners: @capnrefsmmat
