Repository cmu-delphi/covidcast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krivard, @capnrefsmmat, @sgsmob, @jacobbien, @dajmcdon, @huisaddison, @chinandrew, @benjaminysmith, @capolitsch

Weekly Report for 2021-02-02
  R-notebooks/weekly_report/county_evaluations.html
  R-notebooks/weekly_report/covidhub_evaluation.Rmd
  R-notebooks/weekly_report/predictions.R
  R-notebooks/weekly_report/score_cards_state.rds
  R-notebooks/weekly_report/state_evaluations.html
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @benjaminysmith, @capolitsch, @krivard, @jacobbien, @dajmcdon

Add async tests
  Python-packages/covidcast-py/tests/test_covidcast.py
Owners: @chinandrew, @capnrefsmmat

Add async tests
  Python-packages/covidcast-py/tests/test_covidcast.py
Owners: @chinandrew, @capnrefsmmat

delete epidata
  Python-packages/covidcast-py/covidcast/delphi_epidata.py
Owners: @chinandrew, @capnrefsmmat

delete epidata
  Python-packages/covidcast-py/covidcast/delphi_epidata.py
Owners: @chinandrew, @capnrefsmmat

Update evalcast for weekly report branch
  R-packages/evalcast/DESCRIPTION
  R-packages/evalcast/R/download_signals.R
  R-packages/evalcast/R/epiweek_processing.R
  R-packages/evalcast/R/evaluate.R
  R-packages/evalcast/R/geo_type_selector.R
  R-packages/evalcast/R/get_predictions.R
  R-packages/evalcast/R/manage_cards.R
  R-packages/evalcast/R/plot_canonical.R
  R-packages/evalcast/R/plot_trajectory.R
  R-packages/evalcast/R/scale_by_forecaster.R
  R-packages/evalcast/man/evaluate_predictions.Rd
  R-packages/evalcast/man/get_actuals.Rd
  R-packages/evalcast/man/intersect_averagers.Rd
  R-packages/evalcast/man/plot_canonical.Rd
  R-packages/evalcast/man/plot_trajectory.Rd
  R-packages/evalcast/tests/testthat/test-validate_geo_type.R
Owners: @jacobbien, @dajmcdon

Allow for evaluation of "nation" geo_type
  R-packages/covidcast/R/covidcast.R
  R-packages/evalcast/R/evaluate.R
  R-packages/evalcast/R/geo_type_selector.R
  R-packages/evalcast/tests/testthat/test-validate_geo_type.R
Owners: @capnrefsmmat, @sgsmob, @jacobbien, @dajmcdon

Leave geo_type validation to COVIDcast
  R-packages/evalcast/R/evaluate.R
  R-packages/evalcast/R/geo_type_selector.R
  R-packages/evalcast/R/plot_trajectory.R
  R-packages/evalcast/man-roxygen/geo_type-template.R
  R-packages/evalcast/man/baseline_forecaster.Rd
  R-packages/evalcast/man/evaluate_predictions.Rd
  R-packages/evalcast/man/get_actuals.Rd
  R-packages/evalcast/man/get_predictions.Rd
  R-packages/evalcast/man/plot_trajectory.Rd
  R-packages/evalcast/tests/testthat/test-validate_geo_type.R
Owners: @jacobbien, @dajmcdon

Don't modify covidcast in evalcast-killcards
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat, @sgsmob

vignette build fails in pkgdown
  R-packages/evalcast/_pkgdown.yml
  R-packages/evalcast/vignettes/intro-evalcast.Rmd
  docs/evalcastR/pkgdown.yml
Owners: @jacobbien, @dajmcdon, @capnrefsmmat

fix up file endlines
  R-packages/evalcast/R/baseline_forecaster.R
  R-packages/evalcast/R/collapse_cards.R
  R-packages/evalcast/R/download_signals.R
  R-packages/evalcast/R/empty_.R
  R-packages/evalcast/R/error_measures.R
  R-packages/evalcast/R/evalcast-package.R
  R-packages/evalcast/R/evaluate_predictions.R
  R-packages/evalcast/R/get_covidhub_predictions.R
  R-packages/evalcast/R/get_predictions.R
  R-packages/evalcast/R/get_zoltar_predictions.R
  R-packages/evalcast/R/plot_calibration.R
Owners: @jacobbien, @dajmcdon

address @sgsmob revisions
  R-packages/evalcast/R/download_signals.R
  R-packages/evalcast/R/empty_cards.R
  R-packages/evalcast/R/get_target_response.R
Owners: @jacobbien, @dajmcdon

removed `collapse_cards()`, vignette still fails
  R-packages/evalcast/vignettes/intro-evalcast.Rmd
Owners: @jacobbien, @dajmcdon

add geo_type defaults
  R-packages/evalcast/R/evaluate.R
  R-packages/evalcast/R/plot_trajectory.R
  R-packages/evalcast/man/evaluate_predictions.Rd
  R-packages/evalcast/man/get_actuals.Rd
  R-packages/evalcast/man/plot_trajectory.Rd
Owners: @jacobbien, @dajmcdon

Update typo
  Python-packages/covidcast-py/tests/test_covidcast.py
Owners: @chinandrew, @capnrefsmmat

Update typo
  Python-packages/covidcast-py/tests/test_covidcast.py
Owners: @chinandrew, @capnrefsmmat

.github/CODEOWNERS:

# default owners for anything not listed below, such as README and CI workflows
* @krivard @capnrefsmmat

# covidcast R package and data generation
/R-packages/covidcast/ @capnrefsmmat @sgsmob
/R-packages/data-raw/ @capnrefsmmat  @sgsmob

# evalcast R package
/R-packages/evalcast/ @jacobbien @dajmcdon

# modeltools R package
/R-packages/modeltools/ @huisaddison

# covidcast Python package
/Python-packages/covidcast-py/ @chinandrew @capnrefsmmat

# notebooks
/R-notebooks/  @benjaminysmith @capolitsch @krivard 

# documentation changes go live instantly on GitHub.io, and hence require their
# own review
/docs/  @capnrefsmmat
