Repository cmu-delphi/covidcast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krivard, @capnrefsmmat, @statsmaths, @jacobbien, @dajmcdon, @huisaddison, @chinandrew, @capolitsch

.github/CODEOWNERS:

# default owners for anything not listed below, such as README and CI workflows
* @krivard @capnrefsmmat

# covidcast R package and data generation
/R-packages/covidcast/ @capnrefsmmat @statsmaths
/R-packages/data-raw/ @capnrefsmmat  @statsmaths

# evalcast R package
/R-packages/evalcast/ @jacobbien @dajmcdon

# modeltools R package
/R-packages/modeltools/ @huisaddison @dajmcdon

# covidcast Python package
/Python-packages/covidcast-py/ @chinandrew @capnrefsmmat @statsmaths

# notebooks
/R-notebooks/  @capolitsch @krivard 

# documentation changes go live instantly on GitHub.io, and hence require their
# own review
/docs/  @capnrefsmmat @statsmaths

Use r2u-ci for evalcast CI
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Remove mac.os from the testing strategy
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Update ubuntu to 18.04 (the version supported by R 3.5)
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Make cache depends on os and R_VERSION
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Switch to R 4.0, just to get over this hurdle
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Remove caching in case that's the issue
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Try a different caching directory
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Derp, broke the bootstrap script link
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Remove cache again
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

Try R 3.5 again
  .github/workflows/r_evalcast_ci.yml
Owners: @krivard, @capnrefsmmat

update xpath for fetching data file names
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @jacobbien, @dajmcdon

Fix get_forecast_dates bug * redirect get_forecast_dates in covidhub_predictions to zoltr.
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @jacobbien, @dajmcdon

Fix for dev tidyselect
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/R/plot.R
  R-packages/covidcast/R/wrangle.R
Owners: @capnrefsmmat, @statsmaths

Pass ranges to covidcast instead of lists of dates
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat, @statsmaths

Move test files to match new API calls
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-053255.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-38938f.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-496c2d.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-616b30.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-666130.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-76884c.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-a651be.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/covidcast-ed05bd.csv
  R-packages/covidcast/tests/testthat/test-covidcast.R
Owners: @capnrefsmmat, @statsmaths

Correctly count the expected number of time values
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat, @statsmaths

Construct the package documentation in the way roxygen recommends
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/man/covidcast-package.Rd
Owners: @capnrefsmmat, @statsmaths

Render README with updated citation()
  R-packages/covidcast/README.md
  R-packages/covidcast/man/figures/README-example-plot-1.svg
Owners: @capnrefsmmat, @statsmaths

Update plot reference files
  R-packages/covidcast/tests/testthat/_snaps/plot/default-state-line-graph.svg
  R-packages/covidcast/tests/testthat/_snaps/plot/state-line-graph-with-range.svg
Owners: @capnrefsmmat, @statsmaths

Re-run roxygen
  R-packages/covidcast/man/as.covidcast_signal.Rd
Owners: @capnrefsmmat, @statsmaths

Update NEWS with latest changes
  R-packages/covidcast/NEWS.md
  R-packages/covidcast/_pkgdown.yml
  docs/covidcastR/news/index.html
Owners: @capnrefsmmat, @statsmaths

Fix some external links
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/man/covidcast-package.Rd
  R-packages/covidcast/vignettes/external-data.Rmd
  R-packages/covidcast/vignettes/plotting-signals.Rmd
Owners: @capnrefsmmat, @statsmaths

change xpath to look for content elements directly
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @jacobbien, @dajmcdon
