Repository cmu-delphi/covidcast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krivard, @capnrefsmmat, @nmdefries, @brookslogan, @dshemetov, @huisaddison, @dajmcdon, @chinandrew

.github/CODEOWNERS:

# default owners for anything not listed below, such as README and CI workflows
* @krivard @capnrefsmmat

# covidcast R package and data generation
/R-packages/covidcast/ @capnrefsmmat
/R-packages/data-raw/ @capnrefsmmat

# evalcast R package
/R-packages/evalcast/ @nmdefries @brookslogan @dshemetov

# modeltools R package
/R-packages/modeltools/ @huisaddison @dajmcdon

# covidcast Python package
/Python-packages/covidcast-py/ @chinandrew @capnrefsmmat

# notebooks
/R-notebooks/  @krivard

# documentation changes go live instantly on GitHub.io, and hence require their
# own review
/docs/  @capnrefsmmat

test-stub: wrap meta() in tryCatch so we can see stub never takes effect
  R-packages/covidcast/tests/testthat/test-stub.R
Owners: @capnrefsmmat

bug: fix get_covidhub_forecast_dates
  R-packages/evalcast/DESCRIPTION
  R-packages/evalcast/NEWS.md
  R-packages/evalcast/R/get_covidhub_predictions.R
  R-packages/evalcast/man/get_covidhub_forecast_dates.Rd
  R-packages/evalcast/man/get_predictions.Rd
Owners: @nmdefries, @brookslogan, @dshemetov

Add a little context on latest NEWS.md
  R-packages/evalcast/NEWS.md
Owners: @nmdefries, @brookslogan, @dshemetov

Favor `extract2(which())` over `extract()%>%pluck()`, + comments
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

temporary workaround for rerequest support in httptest
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/testthat/test-stub.R
Owners: @capnrefsmmat

Switch to dedicated package env
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

feat(evalcast): get_covidhub_forecast_dates review updates
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

Extract out error reporting to a separate function
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

chore: update modeltools evalcast@evalcast -> evalcast@main
  R-packages/modeltools/DESCRIPTION
Owners: @huisaddison, @dajmcdon

Look for github PAT and check response status for rate limit
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

add error message intro
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

Remove debugging code
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Link to httptest issue for future reference
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Pull is_testing into this package
  R-packages/covidcast/R/covidcast.R
Owners: @capnrefsmmat

Update NEWS and DESCRIPTION for 0.5.2
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/NEWS.md
Owners: @capnrefsmmat

Fix whitespace while I'm here
  R-packages/covidcast/vignettes/plotting-signals.Rmd
Owners: @capnrefsmmat

bug(ci): fix dependabot reviewer assignment
  .github/workflows/dependabot-assignments.yml
Owners: @krivard, @capnrefsmmat

initial switch to fread
  R-packages/evalcast/DESCRIPTION
  R-packages/evalcast/NAMESPACE
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

specify col types on read
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

use specialized character %in% and do distinct directly
  R-packages/evalcast/NAMESPACE
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

bind_rows instead of rbindlist to get back data.frame; drop double conversion
  R-packages/evalcast/NAMESPACE
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov

reset attempt limit
  R-packages/evalcast/R/get_covidhub_predictions.R
Owners: @nmdefries, @brookslogan, @dshemetov
