Repository cmu-delphi/covidcast, pull requests merged in 2020-11, with the labels that each got.

#217 Try some basic unit tests
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/DEVELOP.md
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/figs/deps.txt
  R-packages/covidcast/tests/figs/plot/default-county-choropleth-with-include.svg
  R-packages/covidcast/tests/figs/plot/default-county-choropleth.svg
  R-packages/covidcast/tests/figs/plot/default-state-choropleth-with-include.svg
  R-packages/covidcast/tests/figs/plot/default-state-choropleth-with-range.svg
  R-packages/covidcast/tests/figs/plot/default-state-choropleth.svg
  R-packages/covidcast/tests/figs/plot/default-state-line-graph.svg
  R-packages/covidcast/tests/figs/plot/simple-line-graph.svg
  R-packages/covidcast/tests/figs/plot/state-choropleth-with-no-metadata.svg
  R-packages/covidcast/tests/figs/plot/state-line-graph-with-range.svg
  R-packages/covidcast/tests/figs/plot/state-line-graph-with-stderrs.svg
  R-packages/covidcast/tests/testthat.R
  R-packages/covidcast/tests/testthat/data/dv-data.rds
  R-packages/covidcast/tests/testthat/data/survey-data-county.rds
  R-packages/covidcast/tests/testthat/data/survey-data-state.rds
  R-packages/covidcast/tests/testthat/test-cor.R
  R-packages/covidcast/tests/testthat/test-covidcast.R
  R-packages/covidcast/tests/testthat/test-geo_utils.R
  R-packages/covidcast/tests/testthat/test-plot.R
  R-packages/covidcast/tests/testthat/test-wrangle.R
Labels: covidcast R package

#213 Update plot_trajectory.R
  R-packages/evalcast/R/plot_trajectory.R
Labels: evalcast package, evalcast v1

#248 Evalcast pkgdown
  R-packages/evalcast/.Rbuildignore
  R-packages/evalcast/.gitignore
  R-packages/evalcast/NEWS.md
  R-packages/evalcast/README.md
  R-packages/evalcast/_pkgdown.yml
  R-packages/evalcast/evalcast.Rproj
  docs/evalcast/404.html
  docs/evalcast/LICENSE-text.html
  docs/evalcast/articles/index.html
  docs/evalcast/articles/intro_vignette.html
  docs/evalcast/articles/intro_vignette_files/accessible-code-block-0.0.1/empty-anchor.js
  docs/evalcast/articles/intro_vignette_files/anchor-sections-1.0/anchor-sections.css
  docs/evalcast/articles/intro_vignette_files/anchor-sections-1.0/anchor-sections.js
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-1.png
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-2.png
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-3.png
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-4.png
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-5.png
  docs/evalcast/articles/intro_vignette_files/figure-html/unnamed-chunk-8-6.png
  docs/evalcast/authors.html
  docs/evalcast/bootstrap-toc.css
  docs/evalcast/bootstrap-toc.js
  docs/evalcast/docsearch.css
  docs/evalcast/docsearch.js
  docs/evalcast/index.html
  docs/evalcast/link.svg
  docs/evalcast/news/index.html
  docs/evalcast/pkgdown.css
  docs/evalcast/pkgdown.js
  docs/evalcast/pkgdown.yml
  docs/evalcast/reference/absolute_error.html
  docs/evalcast/reference/all_attr.html
  docs/evalcast/reference/baseline_forecaster.html
  docs/evalcast/reference/check_valid_forecaster_output.html
  docs/evalcast/reference/download_signal.html
  docs/evalcast/reference/evalcast-package.html
  docs/evalcast/reference/evaluate_predictions.html
  docs/evalcast/reference/evaluate_predictions_single_ahead.html
  docs/evalcast/reference/filter_predictions.html
  docs/evalcast/reference/get_covidhub_predictions.html
  docs/evalcast/reference/get_forecast_dates.html
  docs/evalcast/reference/get_predictions.html
  docs/evalcast/reference/get_predictions_single_date.html
  docs/evalcast/reference/get_target_period.html
  docs/evalcast/reference/get_target_response.html
  docs/evalcast/reference/index.html
  docs/evalcast/reference/intersect_locations.html
  docs/evalcast/reference/interval_coverage.html
  docs/evalcast/reference/plot_calibration.html
  docs/evalcast/reference/plot_coverage.html
  docs/evalcast/reference/plot_measure.html
  docs/evalcast/reference/plot_trajectory-1.png
  docs/evalcast/reference/plot_trajectory.html
  docs/evalcast/reference/plot_width.html
  docs/evalcast/reference/unique_attr.html
  docs/evalcast/reference/weighted_interval_score.html
Labels: evalcast package, evalcast v1

#232 Evalcast tests
  R-packages/evalcast/R/get_predictions.R
  R-packages/evalcast/tests/testthat/test-basic-functionality-runs-without-error.R
Labels: evalcast package

#267 Rename vignettes
  R-packages/covidcast/_pkgdown.yml
  R-packages/covidcast/vignettes/correlation-utils.Rmd
  R-packages/covidcast/vignettes/covidcast.Rmd
  R-packages/covidcast/vignettes/multi-signals.Rmd
  R-packages/covidcast/vignettes/plotting-signals.Rmd
Labels: covidcast R package

#285 Export earliest_issue and latest_issue
  R-packages/covidcast/NAMESPACE
  R-packages/covidcast/NEWS.md
  R-packages/covidcast/R/cor.R
  R-packages/covidcast/R/utils.R
  R-packages/covidcast/_pkgdown.yml
  R-packages/covidcast/man/covidcast_cor.Rd
  R-packages/covidcast/man/earliest_issue.Rd
  R-packages/covidcast/man/latest_issue.Rd
  R-packages/covidcast/tests/figs/plot/bubble-plot-with-0-and-missing.svg
  R-packages/covidcast/tests/testthat/test-cor.R
  R-packages/covidcast/tests/testthat/test-plot.R
  R-packages/covidcast/tests/testthat/test-utils.R
  R-packages/covidcast/vignettes/covidcast.Rmd
Labels: covidcast R package

#306 Fix Python client shapefile packaging
  Python-packages/covidcast-py/setup.py
Labels: bug

#320 Minor R package documentation & typo fixes
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/R/data.R
  R-packages/covidcast/R/wrangle.R
  R-packages/covidcast/index.md
  R-packages/covidcast/vignettes/correlation-utils.Rmd
  R-packages/covidcast/vignettes/multi-signals.Rmd
Labels: covidcast R package

#321 R custom API endpoint
  R-packages/covidcast/R/covidcast.R
Labels: covidcast R package

#275 Batch requests when requesting multiple days of data
  .github/workflows/python_ci.yml
  Python-packages/covidcast-py/DEVELOP.md
  Python-packages/covidcast-py/Makefile
  Python-packages/covidcast-py/requirements_ci.txt
  Python-packages/covidcast-py/requirements_dev.txt
  Python-packages/covidcast-py/setup.py
  Python-packages/covidcast-py/tests/__init__.py
  Python-packages/covidcast-py/tests/covidcast/__init__.py
  Python-packages/covidcast-py/tests/test_covidcast.py
  Python-packages/covidcast-py/tests/test_geography.py
  Python-packages/covidcast-py/tests/test_plotting.py
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-d2e163.json
  R-packages/covidcast/tests/testthat/test-covidcast.R
Labels: covidcast R package

#325 Fix imports from dplyr and lubridate
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/testthat/test-covidcast.R
Labels: covidcast R package

#324 Fix error after R tests
  R-packages/covidcast/tests/testthat/teardown-options.R
Labels: covidcast R package

#326 Update R plotting metadata check
  R-packages/covidcast/DESCRIPTION
  R-packages/covidcast/R/plot.R
  R-packages/covidcast/tests/testthat/test-plot.R
Labels: covidcast R package

#329 Add additional aggregation tests to R covidcast package
  R-packages/covidcast/tests/testthat/test-wrangle.R
Labels: covidcast R package

#271 Use CSV format for API access in R package
  R-packages/covidcast/NEWS.md
  R-packages/covidcast/R/covidcast.R
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-1d9b5c.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-3e1dc3.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-64a69c.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-6a5814.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-96f6a5.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-b6e478.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-cb89ad.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-d2e163.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-d707dc.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-da6974.json
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-dd024f.csv
  R-packages/covidcast/tests/testthat/api.covidcast.cmu.edu/epidata/api.php-f666a2.csv
  R-packages/covidcast/tests/testthat/test-covidcast.R
  R-packages/covidcast/vignettes/correlation-utils.Rmd
Labels: covidcast R package
